#background {
    background-color: black;
}

#background2 {
    width: 1152px;
    height: 648px;
    border: 2px solid grey;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#attackbox {
    width: 557px;
    height: 624px;
    border: 2px solid grey;
    border-radius: 25px;
    position: fixed;
    margin: 10px;
}

#defendbox {
    width: 557px;
    height: 624px;
    border: 2px solid grey;
    border-radius: 25px;
    position: fixed;
    margin: 10px;
    left: 571px;
}

#attack {
    position: absolute;
    width: 507px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#defend {
    position: absolute;
    width: 507px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#attackback {
    width: 557px;
    border-radius: 23px;
}

#attbtn1 {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #616161;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#attbtn1:hover {
    background: #212121;
    text-decoration: none;
}

#attbtn2 {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #616161;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    position: absolute;
    top: 550;
    left: 50%;
    transform: translate(-50%, -50%);
}

#attbtn2:hover {
    background: #212121;
    text-decoration: none;
}

#attp {
    font-family: Georgia;
    font-size: 40px;
    position: fixed;
    top: 30%;
    text-align: center;
    padding: 15px;
}

#attpbox {
    position: fixed;
    border-radius: 25px;
    border: 2px solid black;
    width: 547px;
    height: 250px;
    top: 53%;
    transform: translate(-50%, -50%);
    left: 290px;
}
