#background {
    background-color: black;
}
#background2 {
    width: 1152px;
    height: 648px;
    border: 2px solid grey;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#attack {
    width: 557px;
    height: 624px;
    border: 2px solid grey;
    border-radius: 25px;
    position: fixed;
    margin: 10px;
}
#defend {
    width: 557px;
    height: 624px;
    border: 2px solid grey;
    border-radius: 25px;
    position: fixed;
    margin: 10px;
    left: 571px;
    
}